<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Drivers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div padding>
      <ion-card *ngFor="let item of items">
        <ion-card-header>
            <ion-card-title>{{item.name}} {{item.surname}}</ion-card-title>
            <ion-card-subtitle>{{item.status}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
</ion-content>
