
<!--<ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>-->
  <ion-content>
      <div class="sign">
      <!--<img src="../../assets/imgs/logo3.png" class="logo" />-->
      <div class="appForm" style="margin-top: 460px; display:inline-block;">
        <ion-list>
          <ion-item>
            <ion-icon name="ios-mail-outline" item-left color="color2"></ion-icon>
            <ion-input type="email" placeholder="E-mail"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-icon name="ios-lock-outline" item-left color="color2"></ion-icon>
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click)="signIn()" expand="block" color="primary">SIGN IN</ion-button>
      </div>
      </div>
    </ion-content>
    
    