
// mixin in all App
@mixin placeholder {
    ::-webkit-input-placeholder    {@content}
    ::-webkit-textarea-placeholder {@content}
    :-moz-placeholder              {@content}
    ::-moz-placeholder             {@content}
    :-ms-input-placeholder         {@content}  
};
@mixin whiteNormal($height,$lineNum){
    white-space: normal; 
    max-height: $height;
    line-height: $height / $lineNum;
    display: block;
    overflow: hidden;
}
@mixin whiteNoWrap($height){
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    height: $height;
    line-height: $height;
    display: block;
}

@mixin position($top,$right,$bottom,$left){
    position:absolute;
    top:$top;
    right:$right;
    left:$left;
    bottom:$bottom;
}

$content-padding:8px;
$content-margin:$content-padding;
$control-height:44px;    
$control-radius:4px;         
$grid-padding-width:$content-padding ;

app-land {
}
.container{
    @include position(auto,0px,0px,0px);
}

.imgBg{
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center center;  
}

.sign{
    @extend .imgBg;
    background-image:url(../../assets/imgs/back.png);
    text-align: center;
    height: 100%;
    .scroll-content{
        margin-top:0px!important;
        padding-bottom:0px!important;  
    }
    .container,.appForm{
        width:100%;
        padding:$content-padding;
    }
    .appForm{
        .item{
            background:rgba(255,255,255,.75);
            padding:0px $content-padding;
        }
    }
    .logo{
        margin:80px 0px 30%;
        width:100px;
        margin-top: 30px;
    }

    .logo2{
        margin-top: 80px;
    }

}


// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

//@import "ionic.globals";
$toolbar-md-height: 20px;

$colors: (
    primary:    #488aff,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #ffffff,
    dark:       #000000,
    color1:     #66c3b1,
    color2:     #fb7a52,
    color3:     #5e5e5e,
    color4:     #f1f1f1      
);
      
    
$content-padding:8px;
$content-margin:$content-padding;
$control-height:44px;    
$control-radius:4px;         
$grid-padding-width:$content-padding ;
  
// sidemenu
$menu-width:100%;
$menu-small-width:$menu-width;  
// App  Variables 
$mainFont:1.3rem;  
 $appFonts:(h4:$mainFont + .1,h5:$mainFont,p:$mainFont - .1);
 @each $head , $fontSize in $appFonts {
    #{$head}{
      font-size:$fontSize!important;
    } 
 }

 // toolbar variables       
$toolbar-ios-height:50px;           
$toolbar-ios-title-font-size:$mainFont + .1;
$toolbar-ios-title-text-color:#ffffff;     
$header-background:#488aff;
$toolbar-ios-button-border-radius:0px;
$toolbar-ios-title-text-align:left;        
// input variables      
$text-input-placeholder-color:#000000;
$text-input-ios-show-focus-highlight:false;

// button variables
$button-ios-font-size:1.3rem;
$button-ios-border-radius:$control-radius;    
$button-ios-height:$control-height;  

// tabs variables
$tabs-ios-tab-icon-color:#32db64;  

// mixin in all App
@mixin placeholder {
    ::-webkit-input-placeholder    {@content}
    ::-webkit-textarea-placeholder {@content}
    :-moz-placeholder              {@content}
    ::-moz-placeholder             {@content}
    :-ms-input-placeholder         {@content}  
};
@mixin whiteNormal($height,$lineNum){
    white-space: normal; 
    max-height: $height;
    line-height: $height / $lineNum;
    display: block;
    overflow: hidden;
}
@mixin whiteNoWrap($height){
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    height: $height;
    line-height: $height;
    display: block;
}

@mixin position($top,$right,$bottom,$left){
    position:absolute;
    top:$top;
    right:$right;
    left:$left;
    bottom:$bottom;
}
// Padding
[padding]{
    padding:$content-padding!important;
    .scroll-content{
        padding:$content-padding!important; 
    }
}
[padding-right]{
    padding-right:$content-padding!important;   
}
[padding-left]{
    padding-left:$content-padding!important;   
}

[padding-horizontal]{
    padding-right:$content-padding!important; 
    padding-left:$content-padding!important;   
}
[padding-vertical]{
    padding-top:$content-padding!important; 
    padding-bottom:$content-padding!important;   
}
// margin
[margin-left],[item-end],[item-right]{
    margin:0px 0px 0px $content-padding!important;
}
[margin-right],[item-start],[item-left]{
    margin:0px $content-padding 0px 0px  !important;
}
[margin-horizontal]{
    margin-right:$content-padding!important; 
    margin-left:$content-padding!important;   
}
[margin-vertical]{
    margin-top:$content-padding!important; 
    margin-bottom:$content-padding!important;   
}

[no-margin]{
    margin:0px!important;
}

//Style of img Background
.imgBg{
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center center;  
}
%inputFont{
    color: #000000;
    font-size:$mainFont - .1!important;
    font-weight: 400;
}
ion-badge {
    &.badge{
        padding: 0px 6px;
        @include  whiteNoWrap(20px);
        max-width:75px;
        border-radius:15px;
        font-size:1.1rem;
    }
}

.button{
    margin:0px;
    min-height:0px;
    text-transform:none;
}

.col{
    overflow:hidden;
}

// header
.header{
    .toolbar-background {
        background:$header-background;
        border-bottom:none;
    }
    .toolbar{
        padding:$content-padding/2;
    }
    .title{
        padding:0px;
    }
    .toolbar-title{
        padding:0px $toolbar-md-height - $content-padding;;
        font-weight:400;
    }
    .bar-buttons{
        margin:0px;
        display:flex;
        flex-direction:row;
    }
    .bar-button{
        margin:0px;
        height:$toolbar-md-height - $content-padding*2;
        width:$toolbar-md-height - $content-padding*2;
        ion-icon{
            color: #ffffff;
            font-size:2rem;
            &.goal-menu{
                font-size:1.2rem;
                transform: scale(-1,1);
            }
        }
        &:after{
            position:initial;
        }
        &.bar-button-menutoggle{
            display:inline-block!important;
        }
    }
    &:after{
        position:initial;
        background:none;
    }
}

.list{
    margin:0px;
    >.item-block{
        &:first-of-type{
            border-top:none;
        }
        &:last-of-type{
            border-bottom:none;
        }
    }
    .list-header{
        min-height:0px;
        border-bottom:0px;
        letter-spacing: normal; 
        text-transform: none;
        border-top:0px;
        margin-bottom:0px;
        .label{
            white-space:normal;
        }
    }
}


.item{
    padding:0px;
    background-color:transparent;
    .label{
        margin:0px;
        @extend %inputFont;
    }
    &.item-block{
        min-height:0px;
        &:last-of-type{
            margin-bottom:0px!important;
        }
        .item-inner{
            padding:0px;
            border-bottom:none;
            margin:0px!important;   
        }
    }

    &.item-select{ 
        min-height:$control-height;
        border:1px solid #fb7a52;
        .label {
            @extend %inputFont;
            font-weight:500;
        }
        .select-text{
            @extend %inputFont;
            color: #000000;
            &.select-placeholder{
                color:#fb7a52;
            }
        }
        .select{
            padding:0px;
            max-width:50%;
            height: 100%;
            align-items: center;
            .select-icon{
                width:auto;
                height:auto;
                display: flex;
                align-items: center;
                padding:0px 3px;
                .select-icon-inner{
                    position: initial;
                    margin:0px!important;
                    color: #66c3b1;
                }
            } 
        }
    }
    &.item-toggle{
        min-height:$control-height;
        .label {
            @extend %inputFont;
            font-weight:500;
        }
        .toggle{
            width: 38px;
            height: 20px;
            padding:0px;
            .toggle-icon{
                background:rgba(#66c3b1,.5);
            }
            .toggle-inner{
                width:18px;
                height:18px;
                left:1px;
                top:1px;
                background: #66c3b1;
            }
        }
    }
    &.item-checkbox{
        margin:0px;
        min-height:$control-height;
        .checkbox{
            margin:0px;
            .checkbox-icon{
                background:none;
                border-color:#fb7a52;
                &.checkbox-checked{
                    .checkbox-inner{
                        transform:none;
                        @include position(0,0,0,0);
                        margin:auto;
                        border-radius:$control-radius;  
                        width: 8px;
                        height: 8px;
                        background: #66c3b1;
                        border:none;
                    }
                }
            }
        }
        .label {
           @extend %inputFont;
            font-weight:500;
        }
    }
    &.item-input{
        .input{
            @extend %inputFont;
        }
    }
    &.item-textarea{
        height:auto;
    }
    .text-input{
        transform:none!important;
        width:100%;
        margin:0px;
    }
}
.select-popover{
    ion-backdrop{
        opacity:0!important;
    }
    .popover-arrow{
        display:none;
    }
    .popover-content{
        left:$content-padding!important;
        right:$content-padding!important;
        border-radius:0px;
        border-top-left-radius: 0px;
        border-top-right-radius:0px;
        padding: 0px $content-padding;
        border:1px solid #000000;
        background: #f1f1f1!important; 
        width:auto;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.35);
        .list{
            padding:$content-padding 0px;
            .item{
                direction:rtl;
                padding:0px;
                align-items:center;
                height:34px;
                .input-wrapper{
                    direction:ltr;
                    padding:0px $content-padding;
                }
                .radio{
                    margin:0px;
                    .radio-icon{
                        width:16px;
                        height:16px;
                        background-color: #ffffff;
                        border-radius:2px;
                        border-color:#000000;
                        &.radio-checked{
                            position: relative;
                            .radio-inner{
                                transform:none;
                                width:10px;
                                height:10px;
                                background-color: #66c3b1;
                                border:none;
                                border-radius:2px;  
                                @include position(0px,0px,0px,0px);
                                margin: auto;
                            }   
                        }
                    }
                }
                .label{
                    @extend p;
                    color:#000000;
                    font-weight:500;
                    white-space:normal;
                    line-height:20px;
                }
            }
        }
    }
}

// actionsheet style
.action-sheet-wrapper{
    width:80%;
    .action-sheet-title{
        background-color: #66c3b1;
        color: #ffffff;
        font-size:$mainFont;
        padding:0px $content-padding;
        height:$control-height;
        line-height:$control-height;
     
    }   
    .action-sheet-cancel{
        background-color: #fb7a52!important;
        color: #ffffff!important;
        border-bottom:none!important;
    }
    .action-sheet-group{
        border-radius:$control-radius;
        border-bottom-right-radius:0px;
        border-bottom-left-radius:0px;
        padding-top:0px!important;
        text-align: center;
        margin:0px;
        overflow:hidden;
        .action-sheet-button{
            color: #000000;
            border-bottom:1px solid #000000;
            .button-inner{
                justify-content: center;
            }
            &:last-of-type{
                border-bottom: none;
            }
            &.activated{
                background:none;
                margin-top:0px;
            }
        }
        &:last-of-type{
            padding-bottom:0px;
            background:none;
        }
    }
    .action-sheet-button{
        font-size:$mainFont;
        min-height:0px;
        font-weight:500;
        height:$control-height;
    }
}

ion-menu{
    .menu-inner{
        background:none!important;
        height:calc(100% - 44px);
    }
    .header{
        .toolbar-background{
            background:none;
        }
        .toolbar{
            padding:0px 0px $content-padding ;
        }
        .item{
            text-align: center;
            padding:0px 30px;
            .item-inner{
                padding-bottom:30px;
                border-bottom:1px solid #ffffff;
            }
            ion-avatar{
                margin:0px $content-padding 10px;
            }
            img{
                margin: 0px auto; 
                width:100px;
                height:100px;
            }
            p{
                margin:0px;
                font-weight:300;
            }
        }
    }
    .content{
        background:#66c3b1;
        .scroll-content{
            padding:0px 40px;
        }
        .grid{
            .col{
                display:flex;
                justify-content:center;
                .button{
                    height:auto;
                    max-width:100%;
                    padding:$content-padding*2 $content-padding;
                    opacity:1;
                    .button-inner{
                        display:flex;
                        flex-direction:column;
                        align-items: center;
                        .icon{
                            background:#fb7a52;
                            color: #ffffff;
                            font-size:2.5rem;
                            width:70px;
                            height:70px;
                            line-height:70px;
                            border-radius:50%;
                            margin: auto;
                            text-align: center;
                        }
                        p{
                            color: #ffffff;
                            margin: $content-padding 0px 0px;
                            @include whiteNoWrap(20px);
                        }
                    }
                    &.active{
                        .icon{
                            color: #fb7a52;
                            background:#ffffff;
                        }
                    }
                }
            }
        }
    }
}



.content-ios:not([no-bounce]) > .scroll-content::before,
.content-ios:not([no-bounce]) > .scroll-content::after{
    position:initial;
    width:0px;
    height:0px;
}



//Original CSS

page-sign-in {
    .header{
        .toolbar-background{
            background:none;
        }
    }
    .forgot{
        font-weight:500;
        @include whiteNormal(44px,1);
        text-align: center;
        margin:0px;

    }
    .button{
        &.button-block{
            margin:20px 0px!important;
        }
    }
    .social{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        .button{
            height:44px;
            width:44px;
            border-radius:50%;
            margin:0px $content-padding;
            .icon{
                font-size:2.2rem;
            }
        }
    }
}
.appForm{
    .item{
        min-height:44px;
        margin-bottom:$content-padding;
        .icon{
            font-size:1.8rem;
            font-weight:bold;
            min-height:0px;
        }
        .item-inner{
            border-bottom:1px solid #5e5e5e!important;
        }
    }
}

.or{
    display:inline-block;
    color:#000000;
    font-weight:500;
    width:60px;
    height:31px;
    line-height:31px;
    width: 100%;
    text-align: center;
    position: relative;
    margin:10px 0px;
    &:before,&:after{
        content:'';
        background:#fb7a52;
        height:1px;
        width: calc(50% - 30px);
        margin:auto 0px;
    }
    &:before{
        @include position(16px,auto,auto,0px);
    }
    &:after{
        @include position(16px,0px,auto,auto);
    }
}


