  <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Vehicles</ion-title>
      </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <div padding>
      <ion-card *ngFor="let item of items">
        <img src="{{item.img}}"/>
        <ion-card-header>
          <ion-row>
            <ion-col>
                <ion-card-title>{{item.manufacturer}} , {{item.model}} </ion-card-title>
                <ion-card-subtitle>Reg : {{item.registration}}</ion-card-subtitle>
            </ion-col>
            <ion-col>
                <ion-button expand="block" color="{{item.buttonColor}}" >{{item.vehicleStatus}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>
  <ion-footer>

  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
  
  </ion-footer>
