<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button name="md-checkmark-circle-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Company</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="appForm">
      <ion-list class="description">
        <ion-list-header>
          <ion-label color="primary" class="label-style">Company</ion-label>
        </ion-list-header>
        <ion-item class="input-color">
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Parent</ion-label>
          <ion-select [(ngModel)]="driver">
            <ion-select-option value="Midas" selected>Midas</ion-select-option>
            <ion-select-option value="MrD">MrD</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button  expand="block" color="primary" style="margin-top: 10px;">Save</ion-button>
  </div>
</ion-content>
