
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button name="md-checkmark-circle-outline" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Vehicle</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content padding>
      <div class="appForm">
        <ion-list class="description">
          <ion-item class="input-color">
            <ion-input type="text" placeholder="Make"></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Model"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>Primary Driver</ion-label>
            <ion-select [(ngModel)]="driver">
              <ion-select-option value="Mr Sam Badger" selected>Mr Sam Badger</ion-select-option>
              <ion-select-option value="Ms Trrent Cologner">Ms Trrent Cologner</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
    
        <!-- units List -->
        <ion-list class="units">
          <ion-list-header>
            <ion-label color="primary" class="label-style">UNITS</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Distance Unit</ion-label>
            <ion-select [(ngModel)]="distance"  interface="popover">
              <ion-select-option value="kilo" selected>Kilo metres</ion-select-option>
              <ion-select-option value="metres">Metres</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label>Fuel Unit</ion-label>
            <ion-select [(ngModel)]="fuel"  interface="popover">
              <ion-select-option value="litre" selected>Litres</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item>
              <ion-label>Consumption</ion-label>
              <ion-select [(ngModel)]="consumption"  interface="popover">
                <ion-select-option value="1" selected>1/100Km</ion-select-option>
                <ion-select-option value="2" >1/120Km</ion-select-option>
              </ion-select>
            </ion-item>
        </ion-list>

        <ion-list class="optional">
            <ion-list-header>
                <ion-label color="primary" class="label-style">DETAILS</ion-label>
            </ion-list-header>
          <div class="twoItem" margin-bottom>
            <ion-item>
              <ion-input type="text" placeholder="Registration Number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Colour"></ion-input>
            </ion-item>
          </div>
    
          <div class="twoItem" margin-bottom>
            <ion-item>
              <ion-input type="num" placeholder="Year"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Weight"></ion-input>
            </ion-item>
          </div>
    
          <ion-item>
            <ion-input type="text" placeholder="VIN"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Driver"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Tare (KG)"></ion-input>
          </ion-item>
        </ion-list>
    
        <!-- Active Toggle -->
        <ion-list>
          <ion-item>
            <ion-label>Active</ion-label>
            <ion-toggle ></ion-toggle>
          </ion-item>
        </ion-list>
    
 
        <ion-button  expand="block" color="primary" >Add Vehicle Picture</ion-button>
        <ion-button  expand="block" color="primary" style="margin-top: 10px;">Add Odometer Picture</ion-button>


      </div>
      
    </ion-content>
    