// mixin in all App
@mixin placeholder {
    ::-webkit-input-placeholder    {@content}
    ::-webkit-textarea-placeholder {@content}
    :-moz-placeholder              {@content}
    ::-moz-placeholder             {@content}
    :-ms-input-placeholder         {@content}  
};
@mixin whiteNormal($height,$lineNum){
    white-space: normal; 
    max-height: $height;
    line-height: $height / $lineNum;
    display: block;
    overflow: hidden;
}
@mixin whiteNoWrap($height){
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    height: $height;
    line-height: $height;
    display: block;
}

@mixin position($top,$right,$bottom,$left){
    position:absolute;
    top:$top;
    right:$right;
    left:$left;
    bottom:$bottom;
}

$content-padding:8px;
$content-margin:$content-padding;
$control-height:44px;    
$control-radius:4px;         
$grid-padding-width:$content-padding ;
$toolbar-ios-height:50px; 

.input-color{
    background-color : #e6e6e6 !important;
    background : #e6e6e6 !important;
}

.item-native{
    background-color : #e6e6e6 !important;
    background : #e6e6e6 !important;
}

.item-inner{
    background-color : #e6e6e6 !important;
    background : #e6e6e6 !important;
}

.label-style {
    font-size: 1.2em;
}

ion-item {
    --background-color : #e6e6e6 !important;
    --background : #e6e6e6 !important;
}


    .image{
        margin-bottom:$content-padding;
        img{
            width:100%;
            display:block;
        }
        .cameraBtn{
            height:auto;
            min-height:140px;
            border-radius:0px;
            width:100%;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.35);
            padding:0px;
            .icon{
                font-size:6rem;
            }
        }
    }
    .list{
        background:#f1f1f1;
        display:inline-block;
        width:100%;
        margin-bottom:$content-padding;
        padding:$content-padding;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.35);
        &:last-of-type{
            margin-bottom:0px;
        }
        &.description,&.optional{
            padding-bottom:30px;
        }
        &.fuelType{
            .item{
                &.item-toggle{
                    .label{
                       display: flex;
                       flex-direction: column;
                       span{
                           display: inline-block;
                           @include whiteNoWrap(20px);
                       }
                       ion-badge{
                           display: inline-block;
                           max-width:80px;
                           float: left;
                           margin-right:3px;
                       }
                    }
                }
            }
        }
        .item{
            .label {
                 font-weight:400!important;
             }
            &.list-header{
                margin-top:0px!important;
                .label{
                    font-weight:bold;
                    color:#66c3b1;
                }
            }
            &.item-select{
                border:none;
                margin-bottom:0px;
                min-height:30px;
                .item-inner{
                    border-bottom:none!important;
                    .select-text{
                        padding:0px 3px;
                    }
                }
            }
            &.item-toggle{
                .item-inner{
                    border-bottom:none!important;
                    .toggle{
                        .toggle-icon{
                            border-radius:0px;
                            background:rgba(#5e5e5e,.4);
                            .toggle-inner{
                                border-radius:0px;
                                background:#5e5e5e;
                            }
                            &:before{
                                border-radius:0px;
                            }
                        }
                    }
                }
            }
        }
    }


.twoItem{
    display: flex;
    justify-content: space-between;
    .item{
        width:calc(50% - #{$content-padding}/2);
        margin-bottom:0px!important;
    }
}