<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button name="md-checkmark-circle-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="appForm">
      <ion-list class="description">
        <ion-list-header>
          <ion-label color="primary" class="label-style">Description</ion-label>
        </ion-list-header>
        <ion-item class="input-color">
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>
      </ion-list>

      <ion-list class="description">
        <ion-list-header>
          <ion-label color="primary" class="label-style">Address</ion-label>
        </ion-list-header>
        <ion-item class="input-color">
          <ion-input type="text" placeholder="Complex"></ion-input>
        </ion-item>
        <ion-item class="input-color">
          <ion-input type="text" placeholder="Street"></ion-input>
        </ion-item>
        <ion-item class="input-color">
          <ion-input type="text" placeholder="Town"></ion-input>
        </ion-item>
        <ion-item class="input-color">
          <ion-input type="text" placeholder="City"></ion-input>
        </ion-item>
        <ion-item class="input-color">
          <ion-input type="text" placeholder="Province"></ion-input>
        </ion-item>
      </ion-list>
  </div>
  <br/>
  <ion-button  expand="block" color="primary" >Save</ion-button>
</ion-content>
