// mixin in all App
@mixin placeholder {
    ::-webkit-input-placeholder    {@content}
    ::-webkit-textarea-placeholder {@content}
    :-moz-placeholder              {@content}
    ::-moz-placeholder             {@content}
    :-ms-input-placeholder         {@content}  
};
@mixin whiteNormal($height,$lineNum){
    white-space: normal; 
    max-height: $height;
    line-height: $height / $lineNum;
    display: block;
    overflow: hidden;
}
@mixin whiteNoWrap($height){
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    height: $height;
    line-height: $height;
    display: block;
}

@mixin position($top,$right,$bottom,$left){
    position:absolute;
    top:$top;
    right:$right;
    left:$left;
    bottom:$bottom;
}

$content-padding:8px;
$content-margin:$content-padding;
$control-height:44px;    
$control-radius:4px;         
$grid-padding-width:$content-padding ;
$toolbar-ios-height:50px; 

app-vehicles {
    .scroll-content{
        margin-bottom:55px!important;
    }
    .card{
        background:#f1f1f1;
        margin-bottom:$content-padding;
        &:last-of-type{
            margin-bottom:0px;
        }
        .item{
            padding:$content-padding;
            align-items:flex-end;
            .button{
                width:25px;
                height:40px;
            }
            h4{
                margin:0px!important;
                @include whiteNoWrap(20px);
                font-weight:500;
            }
            p{
                -webkit-line-clamp:2;
                -webkit-box-orient: vertical;
                @include whiteNormal(32px,2); 
                display: -webkit-box;
                margin-top:3px;
            }
        }
    }
    .footer{
        width:44px;
        height:44px;
        left:auto;
        right:$content-padding*2;
        bottom:40px + $toolbar-ios-height !important;
        .button{
            padding:0px;
            border-radius:50%;
            width:44px;
            height:44px;
            .icon{
                font-size:2rem;
            }
        }
    }
}
.card {
    margin:0px;
    width:100%;
    border-radius:0px;
}