<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button name="md-checkmark-circle-outline" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Vehicle</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="appForm">
    <ion-list class="description">
      <ion-list-header>
        <ion-label color="primary" class="label-style">Select Driver</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>User</ion-label>
        <ion-select [(ngModel)]="User">
          <ion-select-option value="Mr Sam Badger" selected>Mr Sam Badger</ion-select-option>
          <ion-select-option value="Ms Trrent Cologner">Ms Trent Cologner</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Active</ion-label>
        <ion-toggle ></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-button  expand="block" color="primary" style="margin-top: 10px;">Save</ion-button>

  </div>
  
</ion-content>
