<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Companies</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div padding>
      <ion-card *ngFor="let item of items">
        <ion-card-header>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
</ion-content>
