<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button name="md-checkmark-circle-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="appForm">
    <ion-list class="description">
      <ion-list-header>
        <ion-label color="primary" class="label-style">User</ion-label>
      </ion-list-header>
      <ion-item class="input-color">
        <ion-input type="text" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Surname"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Company</ion-label>
        <ion-select [(ngModel)]="company">
          <ion-select-option value="PEP" selected>PEP</ion-select-option>
          <ion-select-option value="Mr Price">Mr Price</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button  expand="block" color="primary" style="margin-top: 10px;">Save</ion-button>
  </div>
</ion-content>
