<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <!--<ion-card *ngFor="let item of items">
      <img src="{{item.img}}"/>
      <ion-card-header>
        <ion-row>
            <ion-col>
                <ion-card-title>{{item.manufacturer}} , {{item.model}} </ion-card-title>
                <ion-card-subtitle>Reg : {{item.registration}}</ion-card-subtitle>
            </ion-col>
            <ion-col>
                <ion-button expand="block" color="{{item.buttonColor}}" >{{item.vehicleStatus}}</ion-button>
            </ion-col>
          </ion-row>
      </ion-card-header>
    </ion-card>-->
    <ion-list *ngFor="let item of items">
    <ion-item>
      <ion-label>
        <h2>Name</h2><p>{{item.manufacturer}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Make</h2><p>{{item.make}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Model</h2><p>{{item.model}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Registration</h2><p>{{item.registration}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Driver</h2><p>{{item.driver}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Colour</h2><p>{{item.color}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Tare</h2><p>{{item.tare}}</p>
      </ion-label>
    </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
          <ion-button expand="block" color="primary" >Link Tag</ion-button>
      </ion-col>
      <ion-col>
          <ion-button expand="block" color="primary" >Deativate</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
