<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Addresses</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div padding>
      <ion-card *ngFor="let item of items">
        <ion-card-header>
          <ion-row>
            <ion-col>
                <ion-card-title>{{item.addressType}}</ion-card-title>
            </ion-col>
            <ion-col>
                <p class="address">{{item.complex}}</p>
                <p>{{item.street}}</p>
                <p>{{item.Town}}</p>
                <p>{{item.Province}}</p>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
    </div>
</ion-content>
