<ion-header>
  <ion-toolbar>
    <ion-title>Poloko</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home">
              <ion-icon name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="vechicles">
              <ion-icon name="car"></ion-icon>
              <ion-label>Vehicles</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="wallet">
              <ion-icon name="card"></ion-icon>
              <ion-label>Wallet</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="home">
              <ion-icon name="more"></ion-icon>
              <ion-label>More</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>

</ion-content>
