<!--<ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>-->
  <ion-content>
      <div class="sign">
        <!--<img src="../../assets/imgs/logo3.png" class="logo" />-->
        <div class="appForm" style="margin-top: 460px; display:inline-block;">
          <ion-list>
  
            <ion-item>
              <ion-icon name="person" item-left color="#fb7a52"></ion-icon>
              <ion-input placeholder="Firstname"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-icon name="person" item-left color="#fb7a52"></ion-icon>
              <ion-input placeholder="Lastname"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-icon name="business" item-left color="#fb7a52"></ion-icon>
              <ion-input placeholder="Company"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-icon name="mail" item-left color="#fb7a52"></ion-icon>
              <ion-input type="email" placeholder="E-mail"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-icon name="key" item-left color="#fb7a52"></ion-icon>
              <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-icon name="key" item-left color="#fb7a52"></ion-icon>
              <ion-input type="password" placeholder="Confirm Password"></ion-input>
            </ion-item>
      
          </ion-list>
          <ion-button (click)="register()" expand="block" color="primary">SIGN UP</ion-button>
        </div>
        <br/>
      </div>
    </ion-content>