<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button name="md-checkmark-circle-outline" defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="appForm">
    <ion-list class="description">
      <ion-list-header>
        <ion-label color="primary" class="label-style">Driver</ion-label>
      </ion-list-header>
      <ion-item>
          <ion-label>
            <p>Mr Sam Badger</p>
          </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Active</ion-label>
        <ion-toggle disabled="true"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
          <ion-button expand="block" color="primary" >Save</ion-button>
      </ion-col>
      <ion-col>
          <ion-button expand="block" color="primary" >Delete</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
