<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button name="md-checkmark-circle-outline" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Address</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div class="appForm">
        <ion-list class="description">
          <ion-list-header>
            <ion-label color="primary" class="label-style">Description</ion-label>
          </ion-list-header>
          <ion-item class="input-color">
            <ion-input type="text">Office 2</ion-input>
          </ion-item>
        </ion-list>
  
        <ion-list class="description">
          <ion-list-header>
            <ion-label color="primary" class="label-style">Address</ion-label>
          </ion-list-header>
          <ion-item class="input-color">
            <ion-input type="text">Randburg Mids</ion-input>
          </ion-item>
          <ion-item class="input-color">
            <ion-input type="text">124 Sloane Street</ion-input>
          </ion-item>
          <ion-item class="input-color">
            <ion-input type="text">Randburg</ion-input>
          </ion-item>
          <ion-item class="input-color">
            <ion-input type="text">Johannesburg</ion-input>
          </ion-item>
          <ion-item class="input-color">
            <ion-input type="text">Gauteng</ion-input>
          </ion-item>
        </ion-list>
    </div>
    <br/>
    <ion-row>
        <ion-col>
            <ion-button expand="block" color="primary" >Save</ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="block" color="primary" >Delete</ion-button>
        </ion-col>
      </ion-row>
  </ion-content>
  