<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row style="margin-top: 60px; margin-left: 70px;">
      <ion-col>
        <ion-fab-button style="margin-left: -20px;"class="fab" color="secondary" data-desc="Add Vehicle">
            <ion-icon class="iconSize" name="car"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button class="fab" color="secondary"  data-desc="Order Tag">
            <ion-icon class="iconSize" name="pricetag"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 60px; margin-left: 70px;">
      <ion-col>
        <ion-fab-button style="margin-left: -20px;" class="fab" color="secondary" data-desc="Link Tag">
            <ion-icon class="iconSize" name="link"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button class="fab" color="secondary" data-desc="Fill Wallet">
            <ion-icon class="iconSize" name="wallet"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>                        

    <ion-row style="margin-top: 60px; margin-left: 70px;">
      <ion-col>
        <ion-fab-button style="margin-left: -20px;"  class="fab" color="secondary" data-desc="ReFuel">
            <ion-icon class="iconSize" name="battery-charging"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button class="fab" color="secondary" data-desc="Reports">
            <ion-icon class="iconSize" name="book"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
