
.fab {
    width: 100px !important;
    height: 100px !important;
}

.iconSize {
    font-size: 80px;
}

ion-fab-button[data-desc] {
    position: relative;
  }

  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 2px;
    bottom: -50px;
    background-color: #ffffff;
    padding: 9px;
    //border-radius: 15px;
    color: #fb7a52;
    //box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

 /*#order, ion-fab-button[data-desc]::after {
    position: ab,solute;
    content: attr(data-desc);
    z-index: 1;
    right: 10px;
    bottom: -40px;
    background-color: #ffffff;
    padding: 9px;
    //border-radius: 15px;
    color: #fb7a52;
    //box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }*/