<ion-content >
  <div class="sign">
      <img src="../../assets/imgs/logo3.png" class="logo" />
      <br/>
      <img src="../../assets/imgs/logo5.png" class="logo2"/>
      <div class="container" style="margin-bottom: 200px;">
        <ion-button (click)="register()"   expand="block" color="primary" >SIGN UP</ion-button>
        <ion-button (click)="signIn()" expand="block" color="secondary" style="margin-top: 10px;">SIGN IN</ion-button>
      </div>
  </div>
</ion-content>