<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-list *ngFor="let item of items">
    <ion-item>
      <ion-label>
        <h2>Name</h2><p>{{item.name}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Parent</h2><p>{{item.parent}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Created By</h2><p>{{item.createdBy}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Created On</h2><p>{{item.created}}</p>
      </ion-label>
    </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
          <ion-button expand="block" color="primary" >Save</ion-button>
      </ion-col>
      <ion-col>
          <ion-button expand="block" color="primary" >Delete</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
